@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap");

:root {
}

body {
  width: 1440px;
  font-family: "Roboto", sans-serif;
}
header {
  height: 72px;
}
header,
a,
nav,
ul,
li,
address {
  display: inline;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: var(--NAVY-BLUE, #2e2f42);
}
.logo > span {
  color: var(--IRIS, #4d5ae5);
}
.section-order {
  height: 600px;
}
footer {
  height: 312px;
}
